

.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}
.addition-button {
    cursor: pointer;
    color: rgb(97, 227, 17);
}
.substraction-button {
    cursor: pointer;
    color: rgb(240, 135, 15);
}
.multiplication-button {
    cursor: pointer;
    color: rgb(19, 45, 241);
}
.division-button {
    font-size: large;
    cursor: pointer;
    color: rgb(219, 235, 46);
}
.exp-button {
    cursor: pointer;
    color: rgb(157, 6, 51);
}
.sqr-button {
    cursor: pointer;
    color: rgb(16, 185, 190);
}
.sqrt-button {
    cursor: pointer;
    color: rgb(163, 14, 209);
}
